<div class="show-box">
  
  <p class="show-item">
    <strong>Title:</strong>
    <%= @book.title %>
  </p>

  
  <p class="show-item">
    <strong>Body:</strong>
    <%= @book.body %>
  </p>
</div>

<div>
  <span>
      <%= link_to "Edit", edit_book_path %>
  </span>
  <span class="vertical-bar">
      |
  </span>
  <span>
    <%= link_to "Back", "/books" %>
  </span>
</div>